* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:sans-serif;
}
body {
  background: linear-gradient(135deg, #a8edea, #fed6e3);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container,
.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card,
.result-card {
  background: #ffffff;
  padding: 30px 25px;
  width: 320px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  
}
input {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}
button {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  transform: scale(1.03);
}
.status {
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0;
}
.bmi-value {
  font-size: 24px;
  font-weight: bold;
  color: #2575fc;
}